
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul , ul li, ul li a, button a ,a {
	list-style: none;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* .......................reset css..................... */
@mixin important-text {
    font-family: Inter;
    font-size: 12px;
}
@mixin important-footer-text{
    color:#777777;
    padding:30px 0;
}
@mixin main-section-items{
    font-family: Inter;
    font-size: 16px;
    line-height: 1.88;
    color:#333333;
}
.container
{
    padding:0 5%;
}
.header-container
{
    border-bottom:1px solid #f2d46a;
    &-logo{
        display:flex;
        justify-content:space-between; 
        &-img img{
            @media (min-width:320px){
                max-width: 125px;
            }
            @media (min-width:576px){
                max-width:155px;
            }
            @media (min-width:786px){
                max-width:unset;
            }
        } 
        &-navbar{
            align-self:center;
            img{
                @media (min-width:320px){
                    max-width: 27px;
                }
                @media (min-width:576px){
                    max-width:37px;
                }
                @media (min-width:786px){
                    max-width:unset;
                }  
            }
        }
        &-dropdown-content{
            display:none;
            position:absolute;
            right:5%;
            z-index:1;
            background-color: #fff;
            padding: 40px 15px 20px;
            li{
                color:#333333;
                font-family: RobotoSlab;
                font-size:16px;
                padding-top:10px; 
                a{
                    color:green;
                }
            }
        }
    }
}
.dropdown-content li a:hover{
     background:#f2d46a;
 }
.header-container-logo-dropdown:hover .header-container-logo-dropdown-content {
    display: block;
}
/* ........................section...................... */
section{
    background: #f4f4f4;
}
// .banner-wrapper
// {
//     position:relative;
// }
// .banner-container-img img{
//     width:100%;
//     height:fit-content;
// }
// .banner-container-color{
//     background:#f2d46a;
//     position:absolute;
//     z-index:5;
// }
.banner{
    padding-top:40px;
    &-container{
        background: #f2d46a;
        position: relative;
        top: 10px;
        width: 102%;
        right: 2%;
        &-img img{
            width: 99%;
        height: fit-content;
        position: relative;
        bottom: 15px;
        left: 2%; 
        @media (min-width:320px){
            height:auto;
        }
        @media (min-width:768px){
            height:fit-content;
        }
        }
        &-text{
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            left: 2%;
            right: -1%;
            bottom: 4%;
            @media (min-width:320px){
                bottom: 8%;
            }
            @media (min-width:576px){
                bottom: 5%;
            }
            @media (min-width:768px){
                bottom: 3%;
            }
            h2{
                font-family: RobotoSlab;
                font-size: 50px;
                font-weight: bold;
                color:#e5b400;
                padding:27px;  
                @media  (min-width:320px){
                    font-size: 16px;
                }
                @media (min-width:576px){
                    font-size: 40px;
                }
                @media (min-width:768px){
                    font-size: 50px;
                }
            }  
        }
    }
}

/* .........................main-section................... */
.main-section-items{
    background:#ffffff;
}
.main-section-text{
    width: 75%;
    padding: 50px 0 50px 60px;
    @media (min-width:320px){
        padding: 20px 0px 10px 60px;
    }
    @media (min-width:576px){
        padding: 50px 0 50px 60px;
    }
    ul{
        display:flex;
        li{
            @include important-text;
            display:flex;
            align-items: center;
            font-weight: 500;
            color:#777777; 
            @media (min-width:320px){
                font-size:11px;
            } 
            @media (min-width:576px){
                font-size:11px;
            }
            img{
                padding-right:8px;
            }
        }
    }
    &-calander{
        margin-left:20px;
    }
    &-item-1{
        padding:42px 0;
        @include main-section-items; 
        @media (min-width:320px){
            font-size:8px;
        }
        @media (min-width:576px){
            font-size:13px;
            padding: 40px 0;
        }
        @media (min-width:992px){
            font-size:14px;
        }
        @media (min-width:1200px){
            font-size:16px;
        }
    }
    &-item-2{
        @include main-section-items; 
        @media (min-width:320px){
            font-size:8px;
        }
        @media (min-width:576px){
            font-size:13px;
        }
        @media (min-width:992px){
            font-size:14px;
        }
        @media (min-width:1200px){
            font-size:16px;
        }
    }
    &-heading{
        color:#deb41b;
        font-family:Inter;
        font-size:32px;
        @media (min-width:320px){
            font-size:29px;
        }
    }
    &-subtext{
        padding:20px 0;
        @include main-section-items 
        @media (min-width:320px){
            font-size:8px;
        }
        @media (min-width:576px){
            font-size:13px;
        }
        @media (min-width:992px){
            font-size:14px;
        }
        @media (min-width:1200px){
            font-size:16px;
        }
    }
}
/* ..........................latest-article................... */
.button-basic
{
    margin: 20px 0;
    background:#f2d46a;
    color:#333333;
    font-family: RobotoSlab;
    font-size: 18px;
    border:none;
    padding: 6px 18px 6px 10px;
    outline:none;
} 
.article-section{
    width:64%;
    padding-bottom:15%;
    @media (min-width:320px){
        width: 100%;
    }
    @media (min-width:576px){
        width: 64%;
    }
    &-btn{
        @extend .button-basic;
        @media (min-width:320px){
            margin: 12px 0;
            font-size: 10px;
            padding: 4px 10px 5px 8px;
        }
        @media (min-width:576px){
            margin: 16px 0;
            font-size: 10px;
            padding: 5px 15px 6px 8px;
        }
        @media (min-width:768px){
            margin: 17px 0;
            font-size: 13px;
            padding: 5px 15px 6px 8px;
        }
        @media (min-width:992px) {
            margin: 18px 0;
            font-size: 15px;
            padding: 5px 16px 6px 9px;
          }
        @media (min-width:1200px){
            margin: 20px 0;
            font-size: 18px;
            padding: 6px 18px 6px 10px;
        }  
    }
    &-container{
        display: flex;
        &-img img{
            @media (min-width:320px){
                max-width: 143px;
                width: 100%;
            }
            @media (min-width:576px){
                max-width: 149px;
            }
            @media (min-width:786px){
                max-width: 220px;
            }
            @media (min-width:992px){
                max-width: 280px;
            }
            @media (min-width:1200px){
                max-width: 320px;
            }
        }
        &-text{
            background: #ffffff;
            padding: 16px 42px 16px 35px;
            margin-bottom: 4px;
            @media (min-width:320px){
                padding: 5px 12px;
                width: 42%;
            }
            @media (min-width:576px){
                padding: 7px 24px;
                width: 41%;
            }
            @media (min-width:768px){
                padding: 8px 25px;
                width: 53%;
            }
            @media (min-width:992px){
                padding: 12px 30px;
                width:46%;
            }
            @media (min-width:1200px){
                padding: 16px 42px 16px 35px;
            }
            h2{
                font-family: RobotoSlab;
                font-size: 24px;
                color:#e5b400;
                padding-bottom:15px;
                @media (min-width:320px){
                    font-size: 11px;
                    padding-bottom: 6px;
                }
                @media (min-width:576px){
                    font-size: 13px;
                    padding-bottom: 5px;
                }
                @media (min-width:786px){
                    font-size: 15px;
                    padding-bottom: 7px;
                }
                @media (min-width:992px){
                    font-size: 23px;
                }
                @media (min-width:1200px){
                    font-size: 24px;
                    padding-bottom: 15px;
                }
            }
            &-git{
                display:flex;
                padding-bottom:20px;
                @media (min-width:320px){
                    padding-bottom: 4px;
                }
                @media (min-width:576px){
                    padding-bottom: 7px;
                }
                @media (min-width:992px){
                    padding-bottom: 16px;
                }
                @media (min-width:1200px){
                    padding-bottom: 20px;
                }
                li{
                    @include important-text;
                    display:flex;
                    align-items: center;
                    color:#777777;
                    @media (min-width:320px){
                        font-size: 5px;
                    }
                    @media (min-width:576px){
                        font-size: 6px;
                    }
                    @media (min-width:992px){
                        font-size:10px;
                    }
                    @media (min-width:1200px){
                        font-size:10px;
                    }
                    img{
                        padding-right:10px;
                        @media (min-width:320px){
                            padding-right: 1px;
                            width: 13%;
                        }
                        @media (min-width:576px){
                            padding-right: 3px;
                            width: 18%;
                        }
                        @media (min-width:786px){
                            padding-right: 7px;
                            width: 20%;
                        }
                        @media (min-width:992px){
                            padding-right: 10px;
                            width: unset;
                        }
                    }
                }
                &-calander{
                    margin-left:15px;
                    @media (min-width:320px){
                        margin-left: 4px;
                    }
                    @media (min-width:1200px){
                        margin-left: 15px;
                    }
                }
            } 
            p{
                @include important-text;
                color:#777777;
                margin-left:8px; 
            }
            h6{
                @include important-text;
                color:#777777;
                padding-bottom:26px;
                line-height: 1.67; 
                @media (min-width:320px){
                    padding-bottom: 8px;
                    font-size: 7px;
                }
                @media (min-width:576px){
                    padding-bottom: 11px;
                    font-size: 6px;
                }
                @media (min-width:786px){
                    padding-bottom: 14px;
                    font-size: 9px;
                }
                @media (min-width:992px){
                    padding-bottom: 18px;
                    font-size: 11px;
                }
                @media (min-width:1200px){
                    padding-bottom: 26px;
                    font-size: 12px;
                }
            }
            &-btn{
                @include important-text;
                color:#333333;
                background:#f2d46a;
                border:none;
                padding:13px 26px;
                @media (min-width:320px){
                    font-size: 5px;
                    padding: 2px 5px;
                }
                @media (min-width:576px){
                    font-size: 7px;
                    padding: 4px 11px;
                }
                @media (min-width:786px){
                    font-size: 10px;
                    padding: 7px 22px;
                }
                @media (min-width:992px){
                    font-size: 11px;
                    padding: 11px 26px;
                    margin-top: 0;
                }
                @media (min-width:1200px){
                    font-size: 12px;
                    padding: 13px 26px;
                }
                a{
                    color:#333333;  
                }
            }
        }
    }
}
.article-section-container-text-btn:hover{
    background-color:#f7d14e;
    box-shadow: 2px 2px #666;
}
.article-section-btn:hover
{
    background-color:#f7d14e;
    box-shadow: 2px 2px #666;
}

/* ........................section end..................... */
/* ..........................footer......................... */
footer
{
    border-top: 1px solid #fed33a;
}
    .footer-container{
        display:flex;
        justify-content: space-between;
        width:85%;
        &-logo{
            margin-bottom:30px;
            @media screen and (min-width:320px){
                max-width:67px;
            }
            &-quirks{
                @media (min-width:320px){
                    max-width:70px;
                }
                @media (min-width:576px){
                    max-width:80px;
                }
                @media (min-width:768px){
                    max-width:94px;
                }
                @media (min-width:1200px){
                    max-width:unset;
                }
            }
        }
        &-para{
            font-size: 10px;
            font-family:Inter;
            color:#333333;
            padding: 9px 0 15px; 
            @media (min-width:320px){
                font-size:5px;
                padding: 6px 0 11px;
            }
            @media (min-width:576px){
                font-size:7px;
                padding: 8px 0 15px;
            }
        }
        &-social-media{
            display:flex;
            &-icon{
                margin-left:10px;
                @media (min-width:320px){
                    margin-left:5px;
                }
                @media (min-width:576px){
                    margin-left:7px;
                }
                @media (min-width:768px){
                    margin-left:9px;
                }
                @media(min-width:1200px){
                    margin-left:10px;
                }
            }
            &-yt{
                @media(min-width:320px){
                    max-width:48px;
                }
                @media(min-width:576){
                    max-width:55px;
                }
                @media(min-width:768px){
                    max-width:67px;
                }
                @media (min-width:1200px){
                    max-width:unset;
                }
            }
            &-li{
                @media(min-width:320px){
                    max-width:9px;
                }
                @media(min-width:576){
                    max-width:10px;
                    margin-left:5px;
                }
                @media(min-width:768px){
                    max-width:15px;
                }
                @media (min-width:1200px){
                    max-width:unset;
                }
            }  
            &-fb{
                @media(min-width:320px){
                    max-width:9px;
                }
                @media(min-width:576px){
                    max-width:10px;
                    margin-left:5px;
                }
                @media(min-width:768px){
                    max-width:15px;
                }
                @media (min-width:1200px){
                    max-width:unset;
                }
            }  
            }      
        &-item{
            font-family: Inter;
            font-size: 14px;
            font-weight: bold;
            @include important-footer-text;
            @media (min-width:320px){
                font-size:6px;
                padding:19px 0;
            }
            @media (min-width:576px){
                font-size:10px;
            }
            @media (min-width:768px){
                font-size:12px;
            }
            @media(min-width:1200px){
                font-size:14px;
            }
            ul li{
                padding-bottom:9px;
                @media(min-width:320px){
                    padding-bottom: 7px;
                }
                @media(min-width:1200px){
                    padding-bottom: 9px;
                }
                a{
                    color:#777777;
                }
            } 
        }
        &-item-2{
            @include important-text;
            font-weight: 500;
            @include important-footer-text;
            @media (min-width:320px){
                font-size:6px;
                padding:19px 0;
            }
            @media (min-width:576px){
                font-size:10px;
            }
            @media (min-width:768px){
                font-size:12px;
            }
            ul li{
                padding-bottom:6px;
                a{
                    color:#777777;  
                }
            }    
        }
    }