
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul , ul li, ul li a, button a ,a {
	list-style: none;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* .......................reset css..................... */
@mixin important-text {
    font-family: Inter;
    font-size: 12px;
}
.container
{
    padding:0 5%;
}
.header-container
{
    border-bottom:1px solid #f2d46a;
}
.header-logo
{
    display:flex;
    justify-content:space-between;
}
.header-navbar
{
    align-self:center;
}
.dropdown-content
{
      display:none;
      position:absolute;
      right:5%;
      z-index:1;
      background-color: #fff;
      padding: 40px 15px 20px;
}
.dropdown-content li
{
    color:#333333;
    font-family: RobotoSlab;
    font-size:16px;
    padding-top:10px;
}
.dropdown-content li a
{
    color:green;
}
.dropdown-content li a:hover
{
    background:#f2d46a;
}
.dropdown:hover .dropdown-content 
{
    display: block;
}
/* ........................section...................... */
section
{
    background: #f4f4f4;
}
.banner
{
    padding-top:40px;
}
.banner-container
{
    background: #f2d46a;
    position: relative;
    top: 10px;
    width: 102%;
    right: 2%;
}
.banner-img-content img
{
    width: 102%;
    height: fit-content;
    position: relative;
    bottom: 15px;
    left: 2%;
}
.banner-text-content
{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 2%;
    right: -4%;
    bottom: 4%;
}
.banner-text-content h2
{
    font-family: RobotoSlab;
    font-size: 50px;
    font-weight: bold;
    color:#e5b400;
    padding:27px;
}
/* .........................main-section................... */
.main-text-container
{
    background:#ffffff;
    padding: 50px 260px 50px 60px;
}
.main-text-container
{
    ul
    {
        display:flex;
    }
    ul li
    {
        @include important-text;
        display:flex;
        align-items: center;
        font-weight: 500;
        color:#777777;
    }
    ul li img
    {
        padding-right:8px;
    }
}
.main-calander
{
    margin-left:20px;
}
.main-text-item-1, .main-text-item-2, .main-subtext
{
    font-family: Inter;
    font-size: 16px;
    line-height: 1.88;
    color:#333333;
}
.main-text-item-1
{
    padding:42px 0;
}
.main-heading
{
    color:#deb41b;
    font-family:Inter;
    font-size:32px;
}
.main-subtext
{
    padding:20px 0;
}
/* ..........................latest-article................... */
.button-basic
{
    margin: 20px 0;
    background:#f2d46a;
    color:#333333;
    font-family: RobotoSlab;
    font-size: 18px;
    border:none;
    padding: 6px 18px 6px 10px;
    outline:none;
} 
.article-btn
{
    @extend .button-basic;
}
.article-btn:hover
{
    background-color:#f7d14e;
    box-shadow: 2px 2px #666;
}
.article-section
{
    width:64%;
    padding-bottom:15%;
}
.article-container
{
    display: flex;
}
.article-text-content 
{
    background: #ffffff;
    padding: 16px 42px 16px 35px;
    margin-bottom: 4px;
}
.article-text-content
{
    h2
    {
        font-family: RobotoSlab;
        font-size: 24px;
        color:#e5b400;
        padding-bottom:15px;
    }
    ul
    {
        display:flex;
        padding-bottom:20px;
    }
    ul li
    {
        @include important-text;
        display:flex;
        align-items: center;
        color:#777777;
    }
    ul li img
    {
        padding-right:10px;
    }
    p
    {
        @include important-text;
        color:#777777;
        margin-left:8px; 
    }
    h6
    {
        @include important-text;
        color:#777777;
        padding-bottom:26px;
        line-height: 1.67; 
    }
    button
    {
        @include important-text;
        color:#333333;
        background:#f2d46a;
        border:none;
        padding:13px 26px;
    }
}
.article-calander
{
    margin-left:15px;
}
.article-readmore-btn:hover
{
    background-color:#f7d14e;
    box-shadow: 2px 2px #666;
}
.article-readmore-btn a
{
    color:#333333; 
}
/* ........................section end..................... */
/* ..........................footer......................... */
footer
{
    border-top: 1px solid #fed33a;
}
.footer-container
{
    display:flex;
    justify-content: space-between;
    width:85%;
}
.footer-logo
{
    margin-bottom:30px;
}
.footer-logo p
{
    font-size: 10px;
    font-family:Inter;
    color:#333333;
    padding: 9px 0 15px;
}
.footer-social-media
{
    display:flex;
}
.footer-social-icon
{
    margin-left:10px;
}
.footer-item
{
    font-family: Inter;
    font-size: 14px;
    font-weight: bold;
    color:#777777;
    padding:30px 0;
}
.footer-item ul li
{
    padding-bottom:9px;
}
.footer-item-2
{
    @include important-text;
    font-weight: 500;
    color:#777777;
    padding:30px 0;
}
.footer-item-2 ul li
{
    padding-bottom:6px;
}
.footer-item ul li a, .footer-item-2 ul a
{
    color:#777777;
}
/* ...................media query........... */
/* ....................header.................. */
@media (min-width:320px)
{
    .header-logo-img img
    {
        max-width: 125px;
    }
    .header-navbar img
    {
        max-width:27px;
    }
}
@media (min-width:576px)
{
    .header-logo-img img
    {
        max-width:155px;
    }
    .header-navbar img
    {
        max-width:37px;
    }
}
@media (min-width:768px)
{
    .header-logo-img img
    {
        max-width:unset;
    }
    .header-navbar img
    {
        max-width:unset;
    }
}
/* ............banner.............. */
@media (min-width:320px)
{
    .banner-img-content img
    {
        height: auto;
    }
    .banner-text-content
    {
        bottom: 7%;
    }
    .banner-text-content h2 
    {
        font-size: 16px;
    }
}
@media (min-width:576px)
{
    .banner-text-content
    {
        bottom: 3%;
    }
    .banner-text-content h2
    {
        font-size:40px;
    }
}
@media (min-width:768px)
{
    .banner-img-content img
    {
        height: fit-content;
    }
    .banner-text-content h2
    {
        font-size:50px;
    }
}
/* .................main-section............. */
@media (min-width:320px)
{
    .main-text-item-1, .main-text-item-2, .main-subtext
    {
        font-size: 8px;
    }
    .main-text-item-1 
    {
        padding: 20px 0;
    }
    .main-text-container
    {
        padding: 20px 30px 10px 60px;
    }
    .main-heading
    {
        font-size:29px;
    }
    .main-text-container
    {
        ul li
        {
            font-size:11px;
        }
    }
}
@media (min-width:578px)
{
    .main-text-item-1, .main-text-item-2, .main-subtext
    {
        font-size: 13px;
    }
    .main-text-container
    {
        padding: 50px 70px 50px 60px;
    }
    .main-text-item-1 
    {
        padding: 40px 0;
    }
    .main-heading
    {
        font-size:29px;
    }
    .main-text-container ul li
    {
        font-size:11px;
    }
}
@media (min-width:768px)
{
    .main-text-item-1, .main-text-item-2, .main-subtext
    {
        font-size: 13px;
    }
    .main-text-container
    {
        padding: 50px 150px 50px 60px;
    }
}
@media (min-width:992px)
{
    .main-text-item-1, .main-text-item-2, .main-subtext
    {
        font-size: 14px;
    }
    .main-text-container
    {
        padding: 50px 250px 50px 60px;
    }
}
@media (min-width:1200px)
{
    .main-text-item-1, .main-text-item-2, .main-subtext
    {
        font-size: 16px;
    }
    .main-text-container
    {
        padding: 50px 260px 50px 60px;
    }
}
/* ..................article-section............ */
@media (min-width: 320px) {
    .article-section {
      width: 100%;
    }
    .article-btn {
      margin: 12px 0;
      font-size: 10px;
      padding: 4px 10px 5px 8px;
    }
    .article-img-content img {
      max-width: 143px;
      width: 100%;
    }
    .article-text-content {
        padding: 5px 12px;
        width: 42%;
      }
    .article-text-content
    {
        h2
        {
            font-size: 11px;
            padding-bottom: 6px;
        }
        ul
        {
            padding-bottom: 4px;
        }
        ul li
        {
            font-size: 5px;
        }
        ul li img
        {
            padding-right: 1px;
            width: 13%;
        }
        h6
        {
            padding-bottom: 8px;
            font-size: 7px;
        }
        button
        {
            font-size: 5px;
            padding: 2px 5px;
        }
    }
    .article-calander {
      margin-left: 4px;
    }
  }
  
  @media (min-width: 576px) {
    .article-section {
      width: 64%;
    }
    .article-btn {
      margin: 16px 0;
      font-size: 10px;
      padding: 5px 15px 6px 8px;
    }
    .article-img-content img {
      max-width: 149px;
    }
    .article-text-content {
      padding: 7px 24px;
      width: 41%;
    }
    .article-text-content
    {
        h2
        {
            font-size: 13px;
            padding-bottom: 5px;
        }
        ul
        {
            padding-bottom: 7px;
        }
        ul li
        {
            font-size: 8px;
        }
        ul li img
        {
            padding-right: 3px;
            width: 18%;
        }
        h6
        {
            padding-bottom: 11px;
            font-size: 6px;
        }
        button
        {
            font-size: 7px;
            padding: 4px 11px;
        }
    }
    .article-calander {
      margin-left: 4px;
    }
}  
  @media (min-width: 768px) {
    .article-btn {
      margin: 17px 0;
      font-size: 13px;
      padding: 5px 15px 6px 8px;
    }
    .article-img-content img {
      max-width: 220px;
    }
    .article-text-content {
      padding: 8px 25px;
      width: 53%;
    }
    .article-text-content
    {
        h2
        {
            font-size: 15px;
            padding-bottom: 7px;
        }
        ul
        {
            padding-bottom: 5px;
        }
        ul li
        {
            font-size: 8px;
        }
        ul li img
        {
            padding-right: 7px;
      width: 20%;
        }
        h6
        {
            padding-bottom: 14px;
            font-size: 9px;
        }
        button
        {
            font-size: 10px;
            padding: 7px 22px;
        }
    }
    .article-calander {
      margin-left: 4px;
    }
  }
  @media (min-width: 992px) {
    .article-btn {
      margin: 18px 0;
      font-size: 15px;
      padding: 5px 16px 6px 9px;
    }
    .article-img-content img {
      max-width: 280px;
    }
    .article-text-content {
      padding: 12px 30px;
      width:46%;
    }
    .article-text-content
    {
        h2
        {
            font-size: 23px;
        }
        ul
        {
            padding-bottom: 16px;
        }
        ul li
        {
            font-size: 10px;
        }
        ul li img
        {
            padding-right: 10px;
            width: unset;;
        }
        h6
        {
            padding-bottom: 18px;
            font-size: 11px;
        }
        button
        {
            font-size: 11px;
            padding: 11px 26px;
            margin-top: 0;
        }
    }
  }
  
  @media (min-width: 1200px) {
    .article-btn {
      margin: 20px 0;
      font-size: 18px;
      padding: 6px 18px 6px 10px;
    }
    .article-img-content img {
      max-width: 320px;
      height: auto;
    }
    .article-text-content {
      padding: 16px 42px 16px 35px;
    }
    .article-text-content
    {
        h2
        {
            font-size: 24px;
            padding-bottom: 15px;
        }
        ul
        {
            padding-bottom: 20px;
        }
        ul li
        {
            font-size: 12px;
        }
        h6
        {
            padding-bottom: 26px;
            font-size: 12px;
        }
        button
        {
            font-size: 12px;
            padding: 13px 26px;
        }
    }
    .article-calander {
      margin-left: 15px;
    }
  }
@media (min-width:320px)
{
    .footer-container
    {
        width:85%;
    }
    .footer-item
    {
        font-size:6px;
    }
    .footer-item-2
    {
        font-size:6px
    }
    .footer-item ul li
    {
        padding-bottom: 7px;
    }
    .footer-quirks-logo
    {
        max-width:67px;
    }
    .footer-logo p
    {
        font-size:5px;
        padding: 6px 0 11px;
    }
    .footer-yt
    {
        max-width:53px;
    }
    .footer-li, .footer-fb
    {
        max-width:9px;
    }
    .footer-item, .footer-item-2
    {
        padding:19px 0;
    }
    .footer-social-icon
    {
        margin-left:6px;
    }
}
@media (min-width:576px)
{
    .footer-container
    {
        width:85%;
    }
    .footer-item
    {
        font-size:10px;
    }
    .footer-item-2
    {
        font-size:10px
    }
    .footer-quirks-logo
    {
        max-width: 80px;
    }
    .footer-logo p
    {
        font-size:7px;
        padding: 8px 0 15px;
    }
    .footer-yt
    {
        max-width:55px;
    }
    .footer-li, .footer-fb
    {
        max-width:10px;
        margin-left:5px;
    }
    .footer-social-icon
    {
        margin-left:7px;
    }
}
@media (min-width:768px)
{
    .footer-container
    {
        width:85%;
    }
    .footer-item
    {
        font-size:12px;
    }
    .footer-item-2
    {
        font-size:12px
    }
    .footer-quirks-logo
    {
        max-width:94px;    
    }
    .footer-logo p
    {
        font-size:8px;
    }
    .footer-yt
    {
        max-width:67px;
    }
    .footer-li, .footer-fb
    {
        max-width:15px;
    }
    .footer-social-icon
    {
        margin-left:9px;
    }
}   
@media (min-width:1200px)
{
    .footer-yt,  .footer-li, .footer-fb, .footer-quirks-logo
    {
        max-width:unset;
    }
    .footer-item, .footer-item-2
    {
        font-size:14px;
    }
    .footer-item ul li
    {
        padding-bottom:9px;
    }
    .footer-logo p
    {
        padding: 9px 0 15px;
        font-size:10px;
    }
    .footer-social-icon
    {
        margin-left:10px;
    }
}