html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul , ul li, ul li a, a, button a{
	list-style: none;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* .......................reset css..................... */
$myFont: RobotoSlab;

@mixin important-text {
    font-family: Inter;
    font-size: 12px;
}
.container
{
    padding:0 5%;
}
.header-container
{
    border-bottom:1px solid #f2d46a;
    &-logo{
        display:flex;
        justify-content:space-between; 
        &-img img{
            @media (min-width:320px){
                max-width: 125px;
            }
            @media (min-width:576px){
                max-width:155px;
            }
            @media (min-width:786px){
                max-width:unset;
            }
        } 
        &-navbar{
            align-self:center;
            img{
                @media (min-width:320px){
                    max-width: 27px;
                }
                @media (min-width:576px){
                    max-width:37px;
                }
                @media (min-width:786px){
                    max-width:unset;
                }  
            }
        }
        &-dropdown-content{
            display:none;
            position:absolute;
            right:5%;
            z-index:1;
            background-color: #fff;
            padding: 40px 15px 20px;
            li{
                color:#333333;
                font-family: RobotoSlab;
                font-size:16px;
                padding-top:10px; 
                a{
                    color:green;
                }
            }
        }
    }
}
.dropdown-content li a:hover{
     background:#f2d46a;
 }
.header-container-logo-dropdown:hover .header-container-logo-dropdown-content {
    display: block;
}
/* .........................section...................... */
/* ...........................banner......................... */
section
{
    background-color: #f4f4f4; 
}
.banner
{
    padding-top:20px;
}
.banner-section{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    @media (min-width:320px){
      display:block;
    }
    @media (min-width:576px){
      display:flex;
    }
    &-wrapper{
      position:relative;
      width:68%;
      @media (min-width:320px){
        width:unset;
      }
      @media (min-width:1200px){
        width:68%;
      }
      &-img img{
        width:99%;
        height:auto;
        @media (min-width:320px){
          width:100%;
        }
        @media (min-width:576px){
          width:99%;
        }
      }
      &-text{
        position:absolute;
        padding:30px 0 60px 40px;
        background: rgba(0, 0, 0, 0.44);
        bottom: 1%;
        left: 0;
        right:1%;
        @media (min-width:320px){
          // right: 7px;
          padding: 13px 0 15px 13px;
          bottom: 1%;
          // right: 0; 
        }
        @media (min-width:576px){
          padding: 25px 0 40px 30px;
          bottom: 1%;
          right: 4px;
        }
        @media (min-width:992px){
          right:1%;
        }
        h2{
            font-family: $myFont;
            font-size: 24px;
            color:#e5b400;
            padding-bottom:15px; 
            @media (min-width:320px){
              font-size: 13px; 
            }
            @media (min-width:576px){
              font-size: 12px; 
            }
            @media (min-width:768px){
              font-size: 17px; 
            }
            @media (min-width:992px){
              font-size: 22px;
            }
            @media (min-width:1200px){
              font-size: 24px; 
            }
        }
        &-git{
            display:flex;
            li{
            @include important-text;
            display:flex;
            align-items: center;
            color:white; 
            @media (min-width:320px){
              font-size: 7px;
            }
            @media (min-width:576px){
              font-size: 6px;
            }
            @media (min-width:768px){
              font-size:8px;
            }
            @media (min-width:992px){
              font-size:12px;
            }
            img{
            padding-right:10px; 
            @media (min-width:320px){
              padding-right: 4px;
              width: 20%;
            }
            @media (min-width:576px){
              padding-right: 6px;
            }
            @media (min-width:768px){
              padding-right: 7px;
              width: 21px;
            }
            @media (min-width:992px){
              padding-right: 10px;
              width: unset;
            }
            }
            &-calander{
              margin-left:15px;
              @media (min-width:320px){
                  margin-left: 3px;
              }
              @media (min-width:576px){
                margin-left: 5px;
              }
              @media (min-width:768px){
                margin-left: 10px;
              }
              @media (min-width:768px){
                margin-left: 15px;
              }
            }   
          }
        }
      }
    }  
    &-item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width:32%;
      @media (min-width:320px){
        width:unset;
      }
      @media (min-width:1200px){
        width:32%;
      }
      &-img{
        position:relative;
        &-text{
          position:absolute;
          background: rgba(0, 0, 0, 0.44);
          padding: 20px 139px 30px 10px;
          bottom:4px;
          left:0;
          right:0;
          @media (min-width:320px){
            padding: 20px 139px 30px 10px;
          }
          @media (min-width:576px){
            padding: 20px 0px 30px 10px;
          }
          @media (min-width:992px){
            padding: 20px 63px 30px 10px;
          }
          @media (min-width:1200px){
            padding: 20px 91px 30px 10px;
          }
          h2{
            font-family: $myFont;
            font-size: 24px;
            color:#e5b400;
            @media (min-width:320px){
              font-size: 13px;
            }
            @media (min-width:576px){
              font-size: 12px;
            }
            @media (min-width:768px){
              font-size: 17px;
            }
            @media (min-width:992px){
              font-size: 22px;
            }
            @media (min-width:1200px){
              font-size:24px;
            }
          }
        }
      }
      &-selector{
        position:relative;
      }
    }  
}  
    .banner-section-item-img img, .banner-section-item-selector img{
      width:100%;
    }
    .banner-essential-text {
      padding: 20px 0px 30px 10px;
    }
    .banner-essential-text h2 {
      font-size: 12px;
    }


/* ..................................main section........................ */
/* ..............................article-section........................ */
.article-section
{
    margin-bottom:15%;
    width:68%
}
.main-container
{
    display:flex;
}
.button-basic
{
    margin: 20px 0;
    background:#f2d46a;
    color:#333333;
    font-family: $myFont;
    font-size: 18px;
    border:none;
    padding: 6px 18px 6px 10px;
    outline:none;
} 
.article-btn
{
    @extend .button-basic;
}
.article-btn:hover
{
    /* box-shadow : 0 15px 15px -12px rgb(0 0 0 / 22%); */
    background-color:#f7d14e;
    box-shadow: 2px 2px #666;
}
.article-container
{
    display: flex;
    width: 96%;
}
.article-text-content 
{
    background: #ffffff;
    padding:20px 30px;
    margin-bottom: 4px;
    h2
    {
      font-family: $myFont;
      font-size: 24px;
      color:#e5b400;
      padding-bottom:15px;
    } 
    ul
    {
      display:flex;
      padding-bottom:20px;
    li
    {
      @include important-text;
      display:flex;
      align-items: center;
      color:#777777;
      img
      {
        padding-right:10px;
      }
    }
    }
    p
    {
        @include important-text;
        color:#777777;
        margin-left:8px;
    }
    h6
    {
        @include important-text;
        color:#777777;
        padding-bottom:26px;
        line-height: 1.67;
    }
    button
    {
        @include important-text;
        color:#333333;
        background:#f2d46a;
        border:none;
        padding:13px 26px;
        outline:none; 
        border-radius: 2px;
        a
        {
          color:#333333; 
        }
    }
}
.article-calander
{
    margin-left:15px;
}
.article-readmore-btn:hover
{
    background-color:#f7d14e; 
    box-shadow: 2px 2px #666;
}
/* .....................tags-section................ */
.tags-wrapper-right
{
    width:32%;
}
.tags-btn
{
    @extend .button-basic;
}
.tags-btn:hover
{
    background-color:#f7d14e;
    box-shadow: 2px 2px #666;
}
.tags-img-content
{
    background:white;
    border-left:2px solid rgba(242, 212, 106, 0.4);
}
.tags-rectangle-img
{
    padding:29px 27px;
    width:80%;
}

/* ........................Resources-section.................. */
.resources-btn
{
    @extend .button-basic;
}
.resources-btn:hover
{
    background-color:#f7d14e;
    box-shadow: 2px 2px #666;
}
.resources-text-content ul
{
    padding: 32px 0 59px 23px;
    background:white;
    border-left:2px solid rgba(242, 212, 106, 0.4);
}
.resources-text-content ul li
{
    @include important-text;
    color:#777777;
    padding:4px;
    font-weight: 500;
}
/* .........................main-section-end................. */
/* ......................footer......................... */
footer
{
    border-top: 1px solid #fed33a;
}
.footer-container
{
    display:flex;
    justify-content: space-between;
    width:85%;
}
.footer-logo
{
    margin-bottom:30px;
}
.footer-logo p
{
    font-size: 10px;
    font-family:Inter;
    color:#333333;
    /* padding:18px 0 27px; */
    padding: 9px 0 15px;
}
.footer-social-media
{
    display:flex;
}
.footer-social-icon
{
    margin-left:10px;
}
.footer-item
{
    font-family: Inter;
    font-size: 14px;
    font-weight: bold;
    color:#777777;
    padding:30px 0;
}
.footer-item ul li
{
    padding-bottom:9px;
}
.footer-item-2
{
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    color:#777777;
    padding:30px 0;
}
.footer-item-2 ul li
{
    padding-bottom:6px;
}
.footer-item ul li a, .footer-item-2 ul li a
{
    color:#777777;
}
/* .......................media query.................... */
/* ...........................header.......................... */
@media (min-width:320px)
{
    .header-logo-img img
    {
        max-width: 125px;
    }
    .header-navbar img
    {
        max-width:27px;
    }
}
@media (min-width:576px)
{
    .header-logo-img img
    {
        max-width:155px;
    }
    .header-navbar img
    {
        max-width:37px;
    }
}
@media (min-width:768px)
{
    .header-logo-img img
    {
        max-width:unset;
    }
    .header-navbar img
    {
        max-width:unset;
    }
} 
 /* ......................media query.................... */
 /* ..........................main-section................... */
 @media (min-width: 320px) {
   .main-container
   {
     display:block;
     padding-bottom: 40px;
   }
   .article-btn , .tags-btn, .resources-btn{
        margin:12px 0;
        font-size: 12px;
        padding: 6px 9px 7px 11px;
   }
   .article-section {
     width: 100%;
     margin-bottom:unset;
   }
   .article-container {
     width: 99%;
   }
   .article-img-content img {
     max-width: 135px;
   }
   .article-text-content 
    {
    padding: 5px 12px;
    width: 69%;
    h2
    {
      font-size: 11px;
      padding-bottom: 6px;
    } 
    ul
    {
      padding-bottom: 2px;
      li
      {
      font-size:6px;
      img
      {
        padding-right: 1px;
        width: 13%;
      }
    }
    }
    h6
    {
      padding-bottom: 2px;
      font-size: 7px;
    }
    button
    {
      font-size: 7px;
      padding: 3px 6px;
    }
    }
   .article-calander {
     margin-left: 2px;
   }
   .tags-wrapper-right {
     width:unset;
   }
   .tags-rectangle-img {
     padding:14px 19px;
     width:89%;
   }
   .resources-text-content ul {
     padding: 8px 7px 7px 9px;
   }
   .resources-text-content ul li {
     font-size: 12px;
     padding: 5px;
   }
 }
 
 @media (min-width: 576px) {
   .main-container
   {
     display:flex;
   }
   .article-btn, .tags-btn, .resources-btn {
     margin: 16px 0;
     font-size: 10px;
     padding: 5px 15px 6px 8px;
   }
   .article-section
   {
     width:68%;
     margin-bottom:15px;
   }
   .article-img-content img {
     max-width: 167px;
   }
   .article-text-content {
     padding: 7px 17px;
     width: unset;
   }
   .article-text-content
   {
      padding: 7px 17px;
      width: unset;
       h2
       {
        font-size: 13px;
        padding-bottom: 5px;
       }
       ul
       {
          padding-bottom: 7px;
          li
          {
            font-size: 8px;
          }
          img
          {
            padding-right: 3px;
            width: 18%;
          }
        }
       h6
       {
        padding-bottom: 9px;
        font-size: 7px;
       }
       button
       {
        font-size: 7px;
        padding: 4px 11px;
       }

   }
   .article-calander {
     margin-left: 4px;
   }
   .tags-rectangle-img {
     padding: 21px 25px 26px 20px;
     width:80%;
   }
   .tags-wrapper-right
   {
     width:33%;
   }
   .resources-text-content ul {
     padding: 14px 0px 35px 17px;
   }
   .resources-text-content ul li {
     font-size: 6px;
     padding: 4px;
   }
 }
 @media (min-width: 768px) {
   .article-btn, .tags-btn, .resources-btn{
     margin: 17px 0;
     font-size: 13px;
     padding: 5px 15px 6px 8px;
   }
   .article-section
   {
     margin-bottom:15px;
   }
   .article-img-content img {
     max-width: 220px;
   }
   .article-text-content {
     padding: 8px 25px;
   }
   .article-text-content
   {
       padding: 8px 25px; 
       h2
       {
        font-size: 15px;
        padding-bottom: 7px;
       }
       ul
       {
        padding-bottom: 5px; 
        li
        {
          font-size: 9px; 
        }
        img
        {
          padding-right: 7px;
          width: 20%;
        }
       }
       h6
       {
        padding-bottom: 14px;
        font-size: 11px;
       }
       button
       {
        font-size: 10px;
        padding: 7px 22px;
       }
   }
   .article-calander {
     margin-left: 6px;
   }
   .tags-wrapper-right
   {
     width:33%;
   }
   .tags-rectangle-img {
     padding: 31px 33px 34px 27px;
   }
   .resources-text-content ul {
     padding: 20px 0px 36px 19px;
   }
   .resources-text-content ul li {
     font-size: 8px;
   }
 }
 
 @media (min-width: 992px) {
   .article-btn, .tags-btn, .resources-btn {
     margin: 18px 0;
     font-size: 15px;
     padding: 5px 16px 6px 9px;
   }
   .article-img-content img {
     max-width: 280px;
   }
   .article-text-content {
     padding: 12px 30px;
   }
   .article-text-content
   {
      padding: 12px 30px; 
      h2
      {
        font-size: 23px;
      }
      ul
      {
        padding-bottom: 16px;
        li
        {
          font-size: 10px;  
        } 
        img
        {
          padding-right: 10px;
          width: unset; 
        }
      }
      h6
      {
        padding-bottom: 18px;
        font-size: 11px;
      }
      button
      {
        font-size: 11px;
        padding: 11px 26px;
        margin-top: 0;
      }
   }
   .article-calander {
     margin-left: 12px;
   }
   .tags-wrapper-right
   {
     width:33%;
   }
   .tags-rectangle-img {
     padding: 31px 33px 34px 27px;
   }
   .resources-text-content ul {
     padding: 32px 0 59px 23px;
   }
   .resources-text-content ul li {
     font-size: 12px;
   }
 }
 
 @media (min-width: 1200px) {
   .article-btn, .tags-btn, .resources-btn {
     margin: 20px 0;
     font-size: 18px;
     padding: 6px 18px 6px 10px;
   }
   .article-img-content img {
     max-width: 340px;
     height: auto;
   }
   .article-text-content
   {
      padding: 16px 30px;
      h2
      {
        font-size: 24px;
        padding-bottom: 15px;
      }
      ul
      {
        padding-bottom: 20px;
        li
        {
          font-size: 12px; 
        }
      }
       h6
       {
        padding-bottom: 26px;
        font-size: 14px;
       }
       button
       {
        font-size: 12px;
        padding: 13px 26px;
       }
   }
   .article-calander {
     margin-left: 15px;
   }
   .tags-wrapper-right
   {
     width:32%;
   }
   .tags-rectangle-img {
     padding: 31px 33px 34px 27px;
     width: 80%;
   }
   .resources-text-content ul {
     padding: 20px 0px 36px 19px;
   }
   .resources-text-content ul li {
     font-size: 12px;
   }
 }
/* .....................footer................ */
@media (min-width:320px)
{
    .footer-container
    {
        width:85%;
    }
    .footer-item
    {
        font-size:6px;
    }
    .footer-item-2
    {
        font-size:6px
    }
    .footer-item ul li
    {
        padding-bottom: 7px;
    }
    .footer-quirks-logo
    {
        max-width:67px;
    }
    .footer-logo p
    {
        font-size:5px;
        padding: 6px 0 11px;
    }
    .footer-yt
    {
        max-width:53px;
    }
    .footer-li, .footer-fb
    {
        max-width:9px;
    }
    .footer-item, .footer-item-2
    {
        padding:19px 0;
    }
    .footer-social-icon
    {
        margin-left:6px;
    }
}
@media (min-width:576px)
{
    .footer-container
    {
        width:85%;
    }
    .footer-item
    {
        font-size:10px;
    }
    .footer-item-2
    {
        font-size:10px
    }
    .footer-quirks-logo
    {
        max-width: 80px;
    }
    .footer-logo p
    {
        font-size:7px;
        padding: 8px 0 15px;
    }
    .footer-yt
    {
        max-width:55px;
    }
    .footer-li, .footer-fb
    {
        max-width:10px;
        margin-left:5px;
    }
    .footer-social-icon
    {
        margin-left:7px;
    }
}
@media (min-width:768px)
{
    .footer-container
    {
        width:85%;
    }
    .footer-item
    {
        font-size:12px;
    }
    .footer-item-2
    {
        font-size:12px
    }
    .footer-quirks-logo
    {
        max-width:94px;    
    }
    .footer-logo p
    {
        font-size:8px;
    }
    .footer-yt
    {
        max-width:67px;
    }
    .footer-li, .footer-fb
    {
        max-width:15px;
    }
    .footer-social-icon
    {
        margin-left:9px;
    }
}   
@media (min-width:1200px)
{
    .footer-yt,  .footer-li, .footer-fb, .footer-quirks-logo
    {
        max-width:unset;
    }
    .footer-item, .footer-item-2
    {
        font-size:14px;
    }
    .footer-item ul li
    {
        padding-bottom:9px;
    }
    .footer-logo p
    {
        padding: 9px 0 15px;
        font-size:10px;
    }
    .footer-social-icon
    {
        margin-left:10px;
    }
}