html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* .......................reset css..................... */
.container
{
    padding:0 5%;
}
.header-container
{
    border-bottom:1px solid #f2d46a;
}
.header-logo
{
    display:flex;
    justify-content:space-between;
}
.header-navbar
{
    align-self:center;
}
/* .........................section...................... */
/* ...........................banner......................... */
section
{
    background-color: #f4f4f4; 
}
.banner
{
    padding-top:20px;
}
.banner-section
{
    display:flex;
    justify-content: space-between;
    margin-top:20px;
}
.banner-container
{
    position:relative;
}
.banner-text-content
{
    position:absolute;
    padding:30px 0 60px 40px;
    background: rgba(0, 0, 0, 0.44);
    bottom: 1%;
    width: 95%;
    left: 0;
}
.banner-text-content h2
{
    font-family: RobotoSlab;
    font-size: 24px;
    color:#e5b400;
    padding-bottom:15px;
}
.banner-git-commands
{
    display:flex;
}
.banner-icon
{
    padding-right:10px;
}
.banner-git-commands li
{
    display:flex;
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    color:white;
}
.banner-calander
{
    margin-left:15px;
}
.banner-container-2
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner-essential-img
{
    position:relative;
}
.banner-essential-text
{
    position:absolute;
    background: rgba(0, 0, 0, 0.44);
    padding: 20px 139px 30px 10px;
    bottom:4px;
    left:0;
}
.banner-essential-text h2
{
    font-family: RobotoSlab;
    font-size: 24px;
    color:#e5b400;
}
.banner-selector-img
{
    position:relative;
}

/* ..................................main section........................ */
/* ..............................article-section........................ */
.main-container
{
    display:flex;
}
.article-btn
{
    margin: 20px 0;
    background:#f2d46a;
    color:#333333;
    font-family: RobotoSlab;
    font-size: 18px;
    border:none;
    padding: 6px 18px 6px 10px;
}
.article-section
{
    margin-bottom:20%;
}
.article-container
{
    display: flex;
    width: 96%;
}
.article-text-content 
{
    background: #ffffff;
    padding:20px 30px;
    margin-bottom: 4px;
}
.article-text-content h2
{
    font-family: RobotoSlab;
    font-size: 24px;
    color:#e5b400;
    padding-bottom:15px;
}
.article-git-commands
{
    display:flex;
    padding-bottom:20px;
}
.article-icon
{
    padding-right:10px;
}
.article-git-commands li
{
    display:flex;
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    color:#777777;
}
.article-calander
{
    margin-left:15px;
}

.article-text-content p
{
    font-family: Inter;
    font-size: 12px;
    color:#777777;
    margin-left:8px;
}
.article-text-content h6
{
    font-family: Inter;
    font-size: 12px;
    color:#777777;
    padding-bottom:26px;
    line-height: 1.67;
}
.article-readmore-btn
{
    color:#333333;
    background:#f2d46a;
    border:none;
    font-family: Inter;
    font-size: 12px;
    padding:13px 26px;
}
/* .....................tags-section................ */
.tags-btn
{
    margin: 20px 0;
    background:#f2d46a;
    color:#333333;
    font-family: RobotoSlab;
    font-size: 18px;
    border:none;
    padding: 6px 18px 6px 10px;
}
.tags-img-content
{
    background:white;
    border-left:2px solid rgba(242, 212, 106, 0.4);
}
.tags-rectangle-img
{
    padding:33px;
}

/* ........................Resources-section.................. */
.resources-btn
{
    margin: 20px 0;
    background:#f2d46a;
    color:#333333;
    font-family: RobotoSlab;
    font-size: 18px;
    border:none;
    padding: 6px 18px 6px 10px;
}
.resources-text-content ul
{
    padding: 32px 0 59px 23px;
    background:white;
    border-left:2px solid rgba(242, 212, 106, 0.4);
}
.resources-text-content ul li
{
    font-family: Inter;
    font-size: 12px;
    color:#777777;
    padding:4px;
    font-weight: 500;
}
/* .........................main-section-end................. */
/* ......................footer......................... */
footer
{
    border-top: 1px solid #fed33a;
}
.footer-container
{
    display:flex;
    justify-content: space-between;
    width:85%;
}
.footer-logo
{
    margin-bottom:30px;
}
.footer-logo p
{
    font-size: 10px;
    font-family:Inter;
    color:#333333;
    /* padding:18px 0 27px; */
    padding: 9px 0 15px;
}
.footer-social-media
{
    display:flex;
}
.footer-social-icon
{
    margin-left:5px;
}
.footer-item
{
    font-family: Inter;
    font-size: 14px;
    font-weight: bold;
    color:#777777;
    padding:30px 0;
}
.footer-item ul li
{
    padding-bottom:9px;
}
.footer-item-2
{
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    color:#777777;
    padding:30px 0;
}
.footer-item-2 ul li
{
    padding-bottom:6px;
}